<!DOCTYPE html>
<html>
<head>
    <title>Information about user</title>
</head>
<body>
<div style="text-align: center;">
<h1>Username: <%= user.username %></h1>
<p><strong>First name:</strong> <%= user.first_name %></p>
<p><strong>Last name:</strong> <%= user.last_name %></p>
<p><strong>Gender:</strong> <%= user.gender %></p>
<p><strong>Date of birth:</strong> <%= user.birthdate ? user.birthdate.toISOString().split('T')[0] : '' %></p>

<a href="/users/edit/<%= user._id %>">Change</a> |
<a href="/users">Go back to the list</a>
</div>
</body>
</html>
